#menu-table{
    background-color:rgba(3, 64, 97,1);
    text-align: center;
    font-size: 25px;
    color: rgba(240,131,6,1);
}

#menu-item {
    background-color:inherit;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgba(240,131,6,1);
    border-width:0px;
    position: relative;
    bottom: 0;
}

#menu-item:hover {
    cursor: pointer;
    text-decoration: none;
    //color: white;
}

#title-item {
    background-color:rgb(3, 64, 97);
    //background-color: white;
    text-align: center;
    color:rgb(240,131,6);
    float: left;
    //color:rgb(240,131,6);
}

#body-over {
    background-color:white;
    //background-image:url();
    //background-image:url(RRGaming_Logo.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    //background-color:rgb(3, 64, 97);
}

#logo-badge{
    align-self:left;
}

#menu-row{
    display:flex;
}

#main-content{
    position: relative;
    background-color:rgba(240,131,6,0.5);
    height: 90%;
    width: inherit;
    position: absolute;
}

.bg-semilight{
    background-color:rgba(255,255,255,0.9);
}

#main-cont{
    background-color:white;
    margin-top: 400px;
}

.bg-rrgblue {
    background-color:rgb(3, 64, 97);
}

.bg-rrgorange {
    background-color:rgba(240,131,6,1);
}

.text-rrgblue {
    color:rgb(3, 64, 97);
}

.text-rrgorange {
    color:rgba(240,131,6,1);
}

.nav-block {
    background-color:rgba(3, 64, 97, 0.75);
    color:rgb(240,131,6);
}

.nav-block:hover{
    background-color:rgba(240,131,6,0.75);
    color: rgb(3, 64, 97);
}

.twitch-vid {
    background-color:black;
}
.twitch-chat {
    background-color:white;
}

.dropdown-submenu {
    position: relative;
  }
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
  }
  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
  .dropdown-submenu:hover > a:after {
    border-left-color: #fff;
  }
  .dropdown-submenu.pull-left {
    float: none;
  }
  .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
  }

  .caret-right {
      float:right;
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-left: 5px solid;
      border-left-color:#999999;
      border-bottom: 5px solid transparent;
      border-top: 5px solid transparent;
      margin-top:5px;
      margin-right:-8px;
    }

    .menuServiceButton
    {
        border:none;
        background-color:grey;
        color:orange;
    }

    .menuServiceButton:hover
    {
        background-color: orange;
        color:grey;
    }
    h1 {
        font-family: Arial, Helvetica, sans-serif;
    }

    @media (min-width:769px) {
        ul .dropdown:hover > .dropdown-menu {
          display:block;
        }
        ul .dropdown > .dropdown-menu {
          display:none;
        }
        }
     @charset "UTF-8";
        .container {
          font-family: 'Yrsa', 'Times New Roman', serif;
          width: 100vw;
          height: 100vh;
          display: grid;
          grid-template: 1fr 1fr / 1fr 1fr;
          grid-gap: 10px;
          background: #ddd;
        }
        
        .effect {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 1em;
          cursor: pointer;
        }
        .effect__heading {
          font-size: 2.5em;
          line-height: 1.2;
          position: relative;
          z-index: 2;
        }
        .effect__heading:after {
          content: '';
          position: absolute;
        }
        .effect__subheading {
          font-family: 'Armata', 'Avenir', sans-serif;
          font-size: 1em;
          line-height: 2;
          letter-spacing: 0.04em;
        }
        
        .effect-a {
          opacity: 0.5;
          transition: opacity 0.3s cubic-bezier(0.5, 0, 0.5, 1);
        }
        .effect-a .effect__heading:after {
          opacity: 0;
          bottom: 2px;
          left: 0;
          height: 10px;
          width: 100%;
          background: #000;
          z-index: -1;
          -webkit-transform-origin: 0% 50%;
                  transform-origin: 0% 50%;
          -webkit-transform: scaleX(0);
                  transform: scaleX(0);
          transition: -webkit-transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
          transition: transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
          transition: transform 0.5s cubic-bezier(0.5, 0, 0.5, 1), -webkit-transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
        }
        .effect-a .effect__subheading {
          opacity: 0;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
          transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1), -webkit-transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
          transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1), transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
          transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1), transform 0.5s cubic-bezier(0.5, 0, 0.5, 1), -webkit-transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
        }
        .effect-a:hover {
          opacity: 1;
        }
        .effect-a:hover .effect__heading:after {
          opacity: 0.1;
          -webkit-transform: scaleX(1);
                  transform: scaleX(1);
        }
        .effect-a:hover .effect__subheading {
          -webkit-transform: translateX(0%);
                  transform: translateX(0%);
          opacity: 1;
        }