#body-over
{
    background-color:rgb(0,128,255);
    //background-image:url(chevronback.jpg);
}

.central-container{
    padding-left:25%;
    padding-right:25%;
    background-color:rgba(255,255,255,0.5);
}

.fancy-input
{
    color:black;
    background-color:rgba(255,255,255,0.25);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: black;
    border-bottom-width: 2px;
}

.fancy-button
{
    color:black;
    background-color:rgba(255,255,255,0.25);
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom-width: 1px;
    border-bottom-color:black;
}

.fancy-button:hover
{
    background-color:rgba(255,255,255,0.5);
    border-bottom-width: 2px;
    cursor: pointer;
}

.user-name
{
    font-size:20px;
    color:black;
}

.user-name:hover
{
    color:black;
}

.user-name-container
{
    border-right:none;
    border-top:none;
    border-left-width:2px;
    border-left-color:black;
    border-bottom-width: 2px;
    border-bottom-color:black;
}